body {
    margin: 0;
    background-color: rgb(50, 50, 50);
    color: white;
    font-family: "Playfair Display", Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.35em;
}

h1 {
    text-align: center;
    color: #eb8d46;
}

h2 {
    color: #eb8d46;
}

main {
    padding: 120px 20px;
}

a {
    color: #3f5db7;
    font-style: italic;
}

section {
    padding: 10px 20px;
    background-color: rgb(50, 50, 50);
    border: black solid 5px;
    margin: 20px 5px;
}

.imgMain {
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    border: 20px solid #3f5db7;
}

button {
    margin-top: 25px;
    padding: 5px 15px;
    font-size: .8em;
}

label {
    display: block;
    margin: 20px 0px 5px;
}

/* Large Screens */

@media (min-width:3000px) {
    body {
     font-size: 2rem;
     background-color: red;
    }
 
    .imgMain {
     margin-top: 0px;
     width: 700px;
     border: 27px solid #3f5db7;
    }
 
    main {
     padding: 100px 20px;
    }

    h1 {
        font-size: 3rem;   
       }
 }
 

/* Tablet */

@media (max-width:1024px) {
   body {
    font-size: .9rem;
    background-color: yellow;
   }

   .imgMain {
    margin-top: 0px;
    width: 250px;
    border: 15px solid #3f5db7;
   }

   main {
    padding: 100px 20px;
   }

   h1 {
    font-size: 1.8rem;   
   }
}


/* Mobile */

@media (max-width:430px) {
    body {
     font-size: .81rem;
     background-color: blue;
    }
 
    .imgMain {
     margin-top: 0px;
     width: 100px;
     border: 8px solid #3f5db7;
    }
 
    main {
     padding: 100px 10px;
    }

    h1 {
     font-size: 1.2rem;   
    }
 }

/* Text Modifiers */

.boldFont {
    font-weight: bolder;
}

/* Header */

nav {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    margin: 30px;
}

.navItem {
    color: #3f5db7;
    background-color: white;
    padding: 10px 25px;
    font-style: normal;
    font-size: 1.15em;
    text-decoration: none;
    font-weight: bold;
}

.navItem:link, .navItem:visited {
    background-color: white;
}

.navItem:focus, .navItem:hover {
    background-color: #eb8d46;
}

.navItem:active {
    background-color: rgb(255, 123, 0);
}

header {
    background-color: black;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%
}

/* Tablet Header */

@media (max-width:1024px) {

    nav {
        gap: 5px;
        margin: 20px;
    }
    
    .navItem {
        padding: 5px 13px;
        font-size: 1rem;
    }
}

/* Mobile Header */

@media (max-width:430px) {

    nav {
        gap: 3px;
        margin: 13px;
    }
    
    .navItem {
        padding: 3px 9px;
        font-size: .75rem;
    }
}

/* Footer */

footer {
    background-color: black;
    padding: 300px 30px;
}

/* Experience Section */

li {
    margin-bottom: 10px ;
}

.experienceWrapper {
    display: flex;
    gap: 5px;
}

.experienceSpacer {
    margin-bottom: 50px;
}

/* Connect Section */

.iconsWrapper {
    display: flex;
    align-items: baseline;
    gap: 10px;
    i {
        font-size: 2em;
    }
}



/* ID Section Scroll Adjuster */

#About, #Experience, #Connect, #Skills, #Projects {
    scroll-margin-top: 7em;
}


/* Messages Section */
.messagesEmail {
    font-size: 1.15rem;
    color: none;
}

.messagesText {
    padding: 0 10px 0 5px;
}

.leaveMessage {
    font-size: 1.75em;
}

input {
    font-size: 1.2em;
}

textarea {
    font-size: 1.2em;
}